Repository exercism/gleam, pull requests merged in 2023-02, with the labels that each got.

#164 Add practice exercise `pythagorean-triplet`
  config.json
  exercises/practice/pythagorean-triplet/.docs/instructions.md
  exercises/practice/pythagorean-triplet/.gitignore
  exercises/practice/pythagorean-triplet/.meta/config.json
  exercises/practice/pythagorean-triplet/.meta/example.gleam
  exercises/practice/pythagorean-triplet/.meta/tests.toml
  exercises/practice/pythagorean-triplet/gleam.toml
  exercises/practice/pythagorean-triplet/manifest.toml
  exercises/practice/pythagorean-triplet/src/pythagorean_triplet.gleam
  exercises/practice/pythagorean-triplet/test/pythagorean_triplet_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#168 Add practice exercise `sum-of-multiples`
  config.json
  exercises/practice/sum-of-multiples/.docs/instructions.md
  exercises/practice/sum-of-multiples/.gitignore
  exercises/practice/sum-of-multiples/.meta/config.json
  exercises/practice/sum-of-multiples/.meta/example.gleam
  exercises/practice/sum-of-multiples/.meta/tests.toml
  exercises/practice/sum-of-multiples/gleam.toml
  exercises/practice/sum-of-multiples/manifest.toml
  exercises/practice/sum-of-multiples/src/sum_of_multiples.gleam
  exercises/practice/sum-of-multiples/test/sum_of_multiples_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#167 Add practice exercise `robot-simulator`
  config.json
  exercises/practice/robot-simulator/.docs/instructions.md
  exercises/practice/robot-simulator/.gitignore
  exercises/practice/robot-simulator/.meta/config.json
  exercises/practice/robot-simulator/.meta/example.gleam
  exercises/practice/robot-simulator/.meta/tests.toml
  exercises/practice/robot-simulator/gleam.toml
  exercises/practice/robot-simulator/manifest.toml
  exercises/practice/robot-simulator/src/robot_simulator.gleam
  exercises/practice/robot-simulator/test/robot_simulator_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#169 Add practice exercise `rectangles`
  config.json
  exercises/practice/rectangles/.docs/instructions.md
  exercises/practice/rectangles/.gitignore
  exercises/practice/rectangles/.meta/config.json
  exercises/practice/rectangles/.meta/example.gleam
  exercises/practice/rectangles/.meta/tests.toml
  exercises/practice/rectangles/gleam.toml
  exercises/practice/rectangles/manifest.toml
  exercises/practice/rectangles/src/rectangles.gleam
  exercises/practice/rectangles/test/rectangles_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#177 Cleanup of `armstrong-numbers`
  bin/generate_practice_exercise.sh
  config.json
  exercises/practice/armstrong-numbers/.meta/example.gleam
  exercises/practice/armstrong-numbers/src/armstrong_numbers.gleam
  exercises/practice/armstrong-numbers/test/armstrong_numbers_test.gleam
Labels: x:module/practice-exercise, x:size/small

#182 Add practice exercise `list-ops`
  config.json
  exercises/practice/list-ops/.docs/instructions.md
  exercises/practice/list-ops/.gitignore
  exercises/practice/list-ops/.meta/config.json
  exercises/practice/list-ops/.meta/example.gleam
  exercises/practice/list-ops/.meta/tests.toml
  exercises/practice/list-ops/gleam.toml
  exercises/practice/list-ops/manifest.toml
  exercises/practice/list-ops/src/list_ops.gleam
  exercises/practice/list-ops/test/list_ops_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#184 Add practice exercise `perfect-numbers`
  config.json
  exercises/practice/perfect-numbers/.docs/instructions.md
  exercises/practice/perfect-numbers/.gitignore
  exercises/practice/perfect-numbers/.meta/config.json
  exercises/practice/perfect-numbers/.meta/example.gleam
  exercises/practice/perfect-numbers/.meta/tests.toml
  exercises/practice/perfect-numbers/gleam.toml
  exercises/practice/perfect-numbers/manifest.toml
  exercises/practice/perfect-numbers/src/perfect_numbers.gleam
  exercises/practice/perfect-numbers/test/perfect_numbers_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#198 Add practice exercise `prime-factors`
  config.json
  exercise_generator/src/exercise_generator.gleam
  exercises/practice/acronym/.meta/config.json
  exercises/practice/armstrong-numbers/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/grains/.meta/config.json
  exercises/practice/hamming/.meta/config.json
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/prime-factors/.docs/instructions.md
  exercises/practice/prime-factors/.gitignore
  exercises/practice/prime-factors/.meta/config.json
  exercises/practice/prime-factors/.meta/example.gleam
  exercises/practice/prime-factors/.meta/tests.toml
  exercises/practice/prime-factors/gleam.toml
  exercises/practice/prime-factors/manifest.toml
  exercises/practice/prime-factors/src/prime_factors.gleam
  exercises/practice/prime-factors/test/prime_factors_test.gleam
  exercises/practice/reverse-string/.docs/instructions.md
  exercises/practice/run-length-encoding/.meta/config.json
  exercises/practice/scrabble-score/.meta/config.json
Labels: x:module/practice-exercise, x:size/medium

#201 Add practice exercise `sublist`
  bin/generate_practice_exercise.sh
  config.json
  exercises/practice/sublist/.docs/instructions.md
  exercises/practice/sublist/.gitignore
  exercises/practice/sublist/.meta/config.json
  exercises/practice/sublist/.meta/example.gleam
  exercises/practice/sublist/.meta/tests.toml
  exercises/practice/sublist/gleam.toml
  exercises/practice/sublist/manifest.toml
  exercises/practice/sublist/src/sublist.gleam
  exercises/practice/sublist/test/sublist_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#210 Add practice exercise `pov`
  config.json
  exercises/practice/pov/.docs/instructions.md
  exercises/practice/pov/.gitignore
  exercises/practice/pov/.meta/config.json
  exercises/practice/pov/.meta/example.gleam
  exercises/practice/pov/.meta/tests.toml
  exercises/practice/pov/gleam.toml
  exercises/practice/pov/manifest.toml
  exercises/practice/pov/src/pov.gleam
  exercises/practice/pov/test/pov_test.gleam
Labels: x:module/practice-exercise, x:size/large

#215 Add practice exercise `queen-attack`
  config.json
  exercises/practice/queen-attack/.docs/instructions.md
  exercises/practice/queen-attack/.gitignore
  exercises/practice/queen-attack/.meta/config.json
  exercises/practice/queen-attack/.meta/example.gleam
  exercises/practice/queen-attack/.meta/tests.toml
  exercises/practice/queen-attack/gleam.toml
  exercises/practice/queen-attack/manifest.toml
  exercises/practice/queen-attack/src/queen_attack.gleam
  exercises/practice/queen-attack/test/queen_attack_test.gleam
Labels: x:module/practice-exercise, x:size/small

#202 Add practice exercise `flatten-array`
  config.json
  exercises/practice/flatten-array/.docs/instructions.md
  exercises/practice/flatten-array/.gitignore
  exercises/practice/flatten-array/.meta/config.json
  exercises/practice/flatten-array/.meta/example.gleam
  exercises/practice/flatten-array/.meta/tests.toml
  exercises/practice/flatten-array/gleam.toml
  exercises/practice/flatten-array/manifest.toml
  exercises/practice/flatten-array/src/flatten_array.gleam
  exercises/practice/flatten-array/test/flatten_array_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#222 Add practice exercise `square-root`
  config.json
  exercises/practice/square-root/.docs/instructions.md
  exercises/practice/square-root/.gitignore
  exercises/practice/square-root/.meta/config.json
  exercises/practice/square-root/.meta/example.gleam
  exercises/practice/square-root/.meta/tests.toml
  exercises/practice/square-root/gleam.toml
  exercises/practice/square-root/manifest.toml
  exercises/practice/square-root/src/square_root.gleam
  exercises/practice/square-root/test/square_root_test.gleam
Labels: x:module/practice-exercise, x:size/small

#221 Add practice exercise `kindergarten-garden`
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.gitignore
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/example.gleam
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/gleam.toml
  exercises/practice/kindergarten-garden/manifest.toml
  exercises/practice/kindergarten-garden/src/kindergarten_garden.gleam
  exercises/practice/kindergarten-garden/test/kindergarten_garden_test.gleam
Labels: x:module/practice-exercise, x:size/small

#230 Add practice exercise `killer-sudoku-helper`
  config.json
  exercises/practice/killer-sudoku-helper/.docs/instructions.md
  exercises/practice/killer-sudoku-helper/.gitignore
  exercises/practice/killer-sudoku-helper/.meta/config.json
  exercises/practice/killer-sudoku-helper/.meta/example.gleam
  exercises/practice/killer-sudoku-helper/.meta/tests.toml
  exercises/practice/killer-sudoku-helper/gleam.toml
  exercises/practice/killer-sudoku-helper/manifest.toml
  exercises/practice/killer-sudoku-helper/src/killer_sudoku_helper.gleam
  exercises/practice/killer-sudoku-helper/test/killer_sudoku_helper_test.gleam
Labels: x:module/practice-exercise, x:size/small

#233 Add practice exercise `twelve-days`
  config.json
  exercises/practice/twelve-days/.docs/instructions.md
  exercises/practice/twelve-days/.gitignore
  exercises/practice/twelve-days/.meta/config.json
  exercises/practice/twelve-days/.meta/example.gleam
  exercises/practice/twelve-days/.meta/tests.toml
  exercises/practice/twelve-days/gleam.toml
  exercises/practice/twelve-days/manifest.toml
  exercises/practice/twelve-days/src/twelve_days.gleam
  exercises/practice/twelve-days/test/twelve_days_test.gleam
Labels: x:module/practice-exercise, x:size/large

#236 Add practice exercise `say`
  config.json
  exercises/practice/say/.docs/instructions.md
  exercises/practice/say/.gitignore
  exercises/practice/say/.meta/config.json
  exercises/practice/say/.meta/example.gleam
  exercises/practice/say/.meta/tests.toml
  exercises/practice/say/gleam.toml
  exercises/practice/say/manifest.toml
  exercises/practice/say/src/say.gleam
  exercises/practice/say/test/say_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#241 Add practice exercise `minesweeper`
  config.json
  exercises/practice/minesweeper/.docs/instructions.md
  exercises/practice/minesweeper/.gitignore
  exercises/practice/minesweeper/.meta/config.json
  exercises/practice/minesweeper/.meta/example.gleam
  exercises/practice/minesweeper/.meta/tests.toml
  exercises/practice/minesweeper/gleam.toml
  exercises/practice/minesweeper/manifest.toml
  exercises/practice/minesweeper/src/minesweeper.gleam
  exercises/practice/minesweeper/test/minesweeper_test.gleam
Labels: x:module/practice-exercise, x:size/medium

#235 Add practice exercise `connect`
  config.json
  exercises/practice/connect/.docs/instructions.md
  exercises/practice/connect/.gitignore
  exercises/practice/connect/.meta/config.json
  exercises/practice/connect/.meta/example.gleam
  exercises/practice/connect/.meta/tests.toml
  exercises/practice/connect/gleam.toml
  exercises/practice/connect/manifest.toml
  exercises/practice/connect/src/connect.gleam
  exercises/practice/connect/test/connect_test.gleam
Labels: x:module/practice-exercise, x:size/large
